<!doctype html>
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>{{ page.title }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,400|Gentium+Book+Basic:700,400italic,400|Inconsolata" rel='stylesheet' type='text/css'>
    {% if page.mathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
  </head>
  <body>
    <nav>
      <div class = "title"><a href="/">Yihang Xie</a></div>
      <a href="/about">About</a> &ensp; <a href="/blog">Blog</a> &ensp;<a href="/archive.html">Archive</a> &ensp;
      <a href="/publication">Publications</a>
    </nav>
    <div id= "maincontent">
    {{ content }}
    </div>
    <footer> 
      &copy;&nbsp;2023&nbsp;Yihang Xie &nbsp;|&nbsp; <a href="yihangxie20001013@gmail.com">E-mail</a>
    </footer>
  </body>
</html>